pip==23.1.2
emoji==1.4.2
attrs==23.1.0
wheel==0.40.0
cryptography==40.0.2
Pillow==9.5.0
Jinja2==3.1.2
setuptools==67.6.1
packaging==23.0
pyparsing==3.0.9
numpy==1.23.5
Flask==2.2.3
PyArabic==0.6.15
twilio==7.16.4
nltk==3.8.1
tflearn==0.5.0
hijridate==2.3.0
selenium==4.9.1
gunicorn==20.1.0
